<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" [destroyOnHide]="true">
    <li [ngbNavItem]="i" *ngFor="let tab of data; let i = index">
        <button ngbNavLink>{{tab.name}}<span>&nbsp;&nbsp;</span><i *ngIf="tab.id!=='9876543210' && tab.id!=='8221465295'" class="bi bi-x-lg icon" style="color: red;" (click)="close($event, tab)"></i></button>
        <ng-template ngbNavContent>
            <section style="height: calc(100vh - 150px);overflow: auto;">
                <app-table-view [data]="tab"></app-table-view>
                <app-chart [data]="tab"></app-chart>
            </section>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2 mb-5"></div>