.main-container {
    height: calc(100vh - 56px);
    width: 100%;
    overflow: auto;
    position: relative;
    top: 56px;
}

.sub-container {
    height: 600px;
    width: 100%;
    position: relative;
    display: block;
}

.demo-button {
    align-self: center;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid #5676eb94;
    background-color: #5676eb94;
}

.demo-button:hover {
    transform: scale(1.2);
    transition: ease-in-out 400ms;
}