<div class="main-container">
    <div class="sub-container">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <h1>Visualize Data Like Never Before</h1>
                <h5>No Login, No SignUp, No Data saving</h5>
                <p>Transform raw data into insightful visualizations with our powerful tools.</p>
                <button class="btn demo-button" routerLink="/visualize">Demo</button>
            </div>
            <img src="https://img.freepik.com/premium-vector/business-analysis-concept-people-meeting-work-with-charts-graphic-data-visualization_138260-655.jpg">
        </div>
    </div>
    <app-timeline class="position-relative d-block"></app-timeline>
    <app-view-cards class="position-relative d-block"></app-view-cards>
    <app-contact class="position-relative d-block"></app-contact>
</div>