<footer class="container d-flex justify-content-center align-items-center">
    <div class="align-center p-3">
        <div class="d-flex flex-column align-center">
            <h3>Rohit Palkar</h3>
            <div class="d-flex align-items-center justify-content-center">
                <a href="https://www.linkedin.com/in/rohit-palkar/" class="m-2" style="text-decoration: none;"
                    target="_blank" ngbTooltip="LinkedIn"><i class="bi bi-linkedin footer-icons"></i></a>
                <a href="https://github.com/rohitpalkar73" class="m-2" style="text-decoration: none;" target="_blank"><i
                        class="bi bi-github footer-icons" ngbTooltip="Github"></i></a>
                <button class="btn btn-tertairy" ngbTooltip="rohitpalkar73@gmail.com"><i class="bi bi-envelope-fill footer-icons"></i></button>
            </div>
        </div>
    </div>
</footer>