input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.chart-container {
    position: relative;
    resize: both;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-container {
    overflow: auto;
    min-height: 500px;
    width: 100%;
}